/* PC */
@media (min-width: 64em) {
    
}

/* Tablet & mobile */
@media (max-width: 63.9375em) {
    .btn{
        padding:15px 16px;
    }

    #nav .subnav a{
        padding:5px 12px;
    }

    .contact-form .form-control{
        padding:15px;
        font-size:16px;
    }

    .contact-info{
        line-height:2;
    }

    .contact-submit-btn{
        font-size:16px;
    }

    .social-list {
        font-size:48px;
    }

    #footer .social-list a{
        margin: 0px 8px;
    }

    #footer .coppyright a{
        padding: 12px 0;
        display: inline-block;
    }
}
/* Tablet */
@media (min-width: 46.25em ) and (max-width: 63.9375em) {
    
}
/* Mobile */
@media (max-width: 46.1875em) {/* Dùng đơn vị em cho media queries */
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px;
    }

    #nav{
        display: block;
    }
    #nav > li {
        display: block;/* Để nhấn vào thanh home ....contact... đều được không cần nhấn cả vào chữ */
    }

    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav{
        position: initial/* giá trị mặc định */;
        background-color: #333;
    }
    /*Cái ở trên Nhấn vào more thì hiện ra các con của nó */

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }   

    #nav > li:first-child{
        display: inline-block;/* Lấy ra con đầu tiên của thẻ li */
    }
    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }
    
    
    #content .member-img{
        width: 60%;
    }

    .contact-form{
        margin-top: 32px;
    }

}
